body {
	margin: 0;
	cursor: crosshair;
}

.wrap {
	background: yellow;
	height: 100vh;
	width: 100vw;
	position: relative;
}

#scoreboard {
	height: 100px;
	width: 200px;
	background: grey;
	position: absolute;
	top: 50px;
	margin-left: 50px;
}

#scoreboard > span {
	font-size: 30px;
}

#score {
	font-size: 30px;
}

.target-hider {
	background: red;
	height: 120px;
	width: 750px;
	margin-left: calc(50% - 375px);
	margin-right: calc(50% - 375px);
	margin-top: 500px;
	position: absolute;
	z-index: 10;
}

.target-holder {
	background: brown;
	height: 120px;
	width: 750px;
	margin-left: calc(50% - 375px);
	margin-right: calc(50% - 375px);
	margin-top: 500px;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	z-index: 10;
}

@keyframes pop-up {
	50% {
		margin-top: -120px;
	}
}

.tenth-circle {
	background: white;
	height: 118px;
	width: 118px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
	animation: pop-up 5s linear infinite;
}

.ninth-circle {
	background: white;
	height: 106px;
	width: 106px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.eigth-circle {
	background: black;
	height: 94px;
	width: 94px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.seventh-circle {
	background: black;
	height: 82px;
	width: 82px;
	border: 1px solid white;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.sixth-circle {
	background: lightblue;
	height: 70px;
	width: 70px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.fifth-circle {
	background: lightblue;
	height: 58px;
	width: 58px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.fourth-circle {
	background: red;
	height: 46px;
	width: 46px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.third-circle {
	background: red;
	height: 34px;
	width: 34px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.second-circle {
	background: yellow;
	height: 22px;
	width: 22px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}

.bullseye {
	background: yellow;
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
}
